
.main_container_one{
    height: 850px;
    width:1492px;
    padding: 0px 0px;
    background-color: #fff;
    overflow: hidden;
    backdrop-filter: grayscale(10px);
    overflow-y: scroll;
}

.main_container_animation{
    animation: main_container_animation-animation 1.5s ease 0s;
}
@keyframes main_container_animation-animation {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.main_container_two{
    min-height: 770px;
    min-width:1492px;
    max-width:1492px;
    margin:10px 30px;
    z-index: 2;
    position: relative;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.main_container_two_dress{
    height:700px;
    width:400px;
    margin: 20px 20px;
    animation: main_container_animation-animation 1.5s ease 0s;

}
.main_container_two_dress_image{
    height: 600px;
    width: 400px;
    animation: main_container_two_dress_image-animation 0.5s ease-out 0s;
}
@keyframes main_container_two_dress_image-animation {
    0%{width: 380px;height: 580px;}
    100%{width: 400px;height: 600px;}
}